{% extends 'base.html.twig' %}
{% block before_nav %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column align-items-center justify-content-center">
    <h1>Snowboard Freestyle</h1>
    <a href="#navbar" class="btn-get-started scrollto"><i class="bi bi-chevron-double-down"></i></a>
    </section><!-- End Hero -->
{% endblock %}


{% block body %}
    <main id="main">
        <section id="tricks" class="portfolio section-bg">
            <div class="container">
      
              <div class="section-title">
                <h2>Snowboard tricks</h2>
                <p>Le snowboard freestyle consiste à effectuer en snowboard des sauts à partir de différentes structures en neige ou en métal appelées modules, puis d'accomplir en l'air des figures, dits tricks, avant d'atterrir, c'est-à-dire retomber sur la planche (ou board) en position normal ou switch.

                  Le but recherché est multiple : performance, esthétique du saut, sensations lors du vol, spectacle.
                  
                  Le freestyle backcountry désigne une pratique de la discipline en dehors des pistes de ski. Il s'agit de pratiquer le freestyle lors d'un run de hors-piste agrémenté de sauts de corniches ou barres rocheuses, dans des espaces vierges.</p>
                <p>Le panel de figures faisables en l'air augmente de jour en jour à mesure que les freestyleurs progressent. On peut néanmoins classer les tricks en plusieurs catégories.</p>
                <p>Ce site collaboratif a pour vocation de réunir tous les tricks, avec des descriptions, des images, des vidéos et des conseils. Vous pouvez postez des tricks et commenter les autres.</p>
                <p>Bon surf !</p>
              </div>
      
              <div class="row">
                <div class="col-lg-12 d-flex flex-column justify-content-center">
                  <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    {% for category in categories %}
                      <li data-filter=".filter-{{category.slug}}">
                        {{category.name}}
                      </li>
                    {% endfor %}
                  </ul>

                  {% if app.user and app.user.isVerified == TRUE %}
                    <ul id="portfolio-flters">
                      <li data-filter=".filter-mine">Mes tricks </li>
                      <a href="tricks/nouveau-trick" class="portfolio-link">AJOUTER UN TRICK</a>
                    </ul>
                  {% endif %}
                </div>
              </div>
      
              <div class="row portfolio-container">
                {% for trick in tricks %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-{{trick.category.slug}} {% if app.user == trick.user %}filter-mine{% endif %}">
                  <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                    <div class="portfolio-title d-flex flex-column align-items-center justify-content-center">{{trick.name}}</div>
                    <div class="portfolio-info">
                      <h4>{{trick.name}}</h4>
                      <p>{{trick.category.name}}</p>
                    </div>
                    <div class="portfolio-links">
                      <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{trick.name}}"><i class="bx bx-plus"></i></a>
                      <a href="/tricks/{{trick.slug}}" title="More Details"><i class="bx bx-link"></i></a>
                      
                      {% if app.user == trick.user and app.user.isVerified == TRUE %}
                        <a href="/tricks/{{trick.slug}}/edit" title="Modifier le trick">Edit</a>
                        <a href="/tricks/{{trick.slug}}/delete" title="Supprimer le trick">Delete</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
      
            </div>
          </section>
    </main><!-- End #main -->
{% endblock %}
