{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
<main id="main">

  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Le {{ trick.name }}</h2>
      </div>
    </div>
  </section><!-- End Breadcrumbs Section -->

  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              {% for medium in trick.media %}
              <div class="swiper-slide">
                <img src="{{asset('assets/img/portfolio/portfolio-1.jpg')}}" alt="{{medium.description}}">
              </div>
              {% endfor %}


            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>{{trick.name}}</h3>
            <ul>
              <li><strong>Categorie</strong>: {{trick.category_id.name}}</li>
              <li><strong>Description</strong>: {{trick.description}}</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="resume" class="resume section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Discussion</h2>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem aliquid itaque, laudantium quibusdam
          recusandae dicta, minima, voluptatibus non maxime blanditiis iure distinctio quam perferendis officia quasi
          eos. Et, sapiente? Quasi.</div>

        {% if app.user and app.user.isVerified == TRUE %}
          <div class="container my-5">
            <div class="row d-flex justify-content-center">
                  {{ form_start(commentForm) }}
                      {{ form_row(commentForm.content)}}
                      <div class="text-center my-3 mt-5"><button type="submit">Publier votre message</button></div>
                  {{ form_end(commentForm) }}
            </div>
          </div>
          {% else %}
            <div class="row d-flex justify-content-center">
              <div class="text-center mt-5"><a href="{{ path('app_login') }}">Connectez-vous pour écrire un commentaire</a></div>
              <div class="text-center mb-5"><a href="{{ path('app_register') }}">Ou enregistrez-vous</a></div>
            </div>
        {% endif %}

        {% for comment in trick.getSortedComments() %}
        {# pour la moitié : <div class="col-lg-6"></div> #}
        <div class="resume-item pb-0">
          <img src="{{asset('assets/img/portfolio/portfolio-details-3.jpg')}}" style="height: 35px; width:35px; border-radius:100%;" alt="photo de l'auteur">
          <p>{{comment.user.username}}</p>
          <p><em>{{comment.createdAt|date('Y-m-d H:i:s')}}</em></p>
          <p>{{comment.content}}
          </p>
        </div>
        <Hr>
        {% endfor %}
      </div>

    </div>
  </section>

</main>
{% endblock %}